body {
    background-color: darkgray;
    text-align: center;
}
h1 {
    font-family: Verdana;
}


button{
        background-color: black;
        background-image: none;
        border: 1px solid black;
        border-radius: 4px;
        box-shadow: white 2px 2px 0 0,black 2px 2px 0 1px;
        color: white;
        display: inline-block;
        font-family: Arial,sans-serif;
        font-size: 14px;
        line-height: 20px;
        margin: 0 5px 10px 0;
        text-align: center;
        width: 350px; 
        height: 40px; 
    }


input {

    background-color: black;
    background-image: none;
    border: 1px solid black;
    border-radius: 4px;
    box-shadow: white 2px 2px 0 0,black 2px 2px 0 1px;
    color: white;
    display: inline-block;
    font-family: Arial,sans-serif;
    font-size: 14px;
    line-height: 20px;
    margin: 0 5px 10px 0;
    text-align: center;
    width: 350px; 
    height: 40px; 
}
